JWT_ACCESS_SECRET=ya-tak-ponyal-tyt-prosto-drygoi-parrol-ne-tot-chto-v-env
JWT_ACCESS_EXPIRES_IN=60m
JWT_REFRESH_SECRET=REFRESH_SECRET
JWT_REFRESH_EXPIRES_IN=7d

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mydb
PORT=3000

MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_REGION_KEY=ru-central1
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
//need to create bucket 'main' in minio
